@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 400;
  color: black;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  padding-top: 86px;
  margin: 0 auto;
}

h1,
.link,
.title,
.menu-item,
h2 {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: calc(32px + (74 - 32) * ((100vw - 320px) / (1440 - 320)));
  line-height: 1;
  font-weight: 700;
}

h3,
.h3 {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1440 - 320)));
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

.words {
  color: #F37321;
}

#shop .react-multi-carousel-list {
  padding: 40px 30px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #C2D6C1;
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px #EBF2EA inset;
  transition: background-color 5000s ease-in-out 0s;
}